
@media screen and (max-width:1200px){
    main nav ul li{
        width:calc(100% / 5);
        padding:15px;
    }

    .locandina{
    
    width:calc(100% / 4);
    }
}

@media screen and (max-width:1091px) {
    main nav ul li{
        width: calc(100% / 4);
        padding:10px;
    }    
}

@media screen and (max-width:800px){


}